header {
    background-color: #532d5e;
}

/* main title of web page: Blogzzz*/
#title-header a{
    text-decoration: none;
    user-select:none;
    cursor: pointer;
    color: white;
}
/* applied to all templates deriving from base.html */
body {
    font-family:'Lato', sans-serif;
    background-color: #fcf9f9;
}

pre {
    /* allows text wrapping for pre tagged text */
    white-space: pre-wrap;
    font-family:'Lato', sans-serif;
    font-size:18px;
}
/* Sign In, Sign Out, My Profile buttons*/
.btn-header a{
    margin: 10px;
    float: right;
    text-decoration: none!important;
}
.btn-header span{
    display: block;
    float: right;
    position:relative;
    /*why does this add smoothness?*/
    top: 0px;
    margin-top: 10px;
    background-color:rgba(0,0,0,0.0);;
    color:white;

    border-color: rgba(255,255,255,0.3);
    border-radius:10px;
    border-width: 1px;
    border-style: solid;

    width:140px;
    height:50px;
    font-size:20px;
    font-weight: 100;
    /* positions text 40px below the top*/
    line-height:45px;
    text-align:center;
    text-decoration: none;
    user-select:none;
}
/* changes color of span buttons when user hovers over it */
.btn-header span:hover {
    background-color:#e0e2e5;
    color: #532d5e;
}
/* describes a large text: used in titles */
.text-super {
    font-size:48px;
}
/* describes a thin text: used in pane titles */
.text-thin {
    font-weight: 100;
}
/* draws a vertical line to a container element */
.verticalLine {
  border-left: thin solid #d1d1d1;
}
hr {
    border:none;
    height:1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
