/***************************
 * big space for 'welcome' and 'new post'
 ****************************/
.container-welcome {
    background-image: url('/static/images/starry_mountain.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color:#d4d4d6;

    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 350px;
}

#text-welcome{
    font-size: 52px;
    color:white;
    font-weight: 100;
}
#btn-newpost a{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
#btn-newpost span {
    display: block;
    top: 0px;
    font-weight: 100;
    font-size: 20px;
    background-color:rgba(0,0,0,0.0);;
    border-color: rgba(255,255,255,0.6);
    border-radius:10px;
    border-width: 1px;
    border-style: solid;
    color:white;
    width:150px;
    height:50px;

    /* positions text 40px below the top*/
    line-height:40px;
    text-align:center;
    user-select:none;
}
#btn-newpost span:hover {
    font-weight: 500;
    background-color:#e0e2e5;
    color: #532d5e;
}
/*******************************************
 * for blogs submitted by this user
 *******************************************/
 #title-history {
     text-align: center;
 }
 #title-history h3 {
     font-weight: 100;
     font-size: 52px;
 }
 #blogs-container {
     width:50%;
     margin: 0 auto;
 }
 .container-content {
     margin:10px;
 }
