<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link rel='stylesheet' type='text/css' href='static/front.css'>
    </head>
    <body>
        <h1 id='page-title'>My Amazing Blogs</h1>
        <form action='/login'>
            <input type='submit' value='log in'>
        </form
        <br>
        <br>
        <hr>
        {% if blogs %}
            <div>
            {% for blog in blogs %}
                <div class='blog'>
                        <div class='blog-title'>{{blog.subject}} - created at {{blog.created}} </div>
                    <pre class='blog-body'> {{blog.content}}</pre>
                </div>
                <hr>
            {% endfor %}
            </div>
        {% endif %}
        </div>
    </body>
</html>
