{% extends 'base.html' %}
{% block content %}
    <!-- content of front page -->
    {% if blogs %}
        <div class='blog-list'>
            {% for blog in blogs %}
                <div class='blog'>
                        <div class='blog-title'><a href='http://localhost:8080/entry/{{blog.blog_id}}'>{{blog.subject}}</a> by {{blog.username}} - created at {{blog.created}} </div>
                    <pre class='blog-body'> {{blog.content}}</pre>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
