<!DOCTYPE html>
<html>
<head>
    <title> Log in page </title>
</head>
<body>
    <h1>Log in</h1>
    <form method='post'>
        <h3> username: </h3>
        <input type='text' name='username' value='{{username}}'>
        {{usernameError}}
        <h3> password: </h3>
        <input type='password' name='password' value='{{password}}'>
        {{passError}}
        <br>
        <br>
        <input type='submit' value='log in'>
    </form>
    <br>
    <form action='/signup'>
        <label>Need new account?</label>
        <input type='submit' value='Signup'>
    </form>
</body>
</html>
